[2018-04-11 07:35] MelroyNoronha opened #3 "console does not display which port app is hosted on after running npm start"
After running npm start we have to go to bin/www to see which port app is being hosted on in development mode.

[2018-04-11 07:38] oreanroy commented on #3
its running on localhost:3000  default server of node. js

[2018-04-11 07:41] #3 closed

[2018-04-11 13:52] oreanroy opened #7 "Footer not working properly in tablet screen."
## **The footer rises a bit up in tablet-sized screen also the footer and upper body has margin issues. They do not touch each other completely**.

[2018-04-11 14:29] Jov03 commented on #7
I would like to work on this issue. @oreanroy

[2018-04-11 15:01] oreanroy commented on #7
Fork the responsive branch work on it, make pull request to responsive branch. Show me solution on slack @oreanroy.
@Jov03

[2018-04-11 15:11] Jov03 commented on #7
Sure.

[2018-04-11 15:52] Prateek-Tewari opened #8 "Make a layout for the Dashboard"
This is the first feature open to the collaborators after the Login/Signup page. We will be rolling out different requirements within the coming days.
**Design a dashboard**
This is one of the busiest page on the website. It will contain a plethora of features. Here's the list of few features, a dashboard should have :-

1. It should show the courses completed by the user.
2. It should be responsi

[2018-04-11 16:32] vivek1996 opened #10 "The CSS in the repo is different from the one which is hosted"
After running the project in local the page seems to be rendered different from the one which is hosted.The reason for this is the CSS files are different in both.The CSS file in the hosted site seems to be working correct .

[2018-04-11 17:01] littlestar642 commented on #10
@vivek1996 Yes it is a issue already being taken . You can take up any other issue and work upon. #8 seems a good choice

[2018-04-11 17:25] Prateek-Tewari commented on #8
@shreyag12 Yup, for sure.
If this app is good enough, Udacity will provide data also. For now, we can have dummy data.

[2018-04-11 18:01] #10 closed

[2018-04-11 19:09] V3dant commented on #8
How we'll get the list of courses completed by the users?

[2018-04-11 20:03] Prateek-Tewari commented on #8
@V3dant  for now use dummy data.

[2018-04-11 23:25] V3dant opened #16 "Add Files"
Add bootstrap.min.js  & favicon2.ico files in the repository.

[2018-04-12 02:04] Ajayjam97 commented on #16
bootstrap.min.js is already there in node_modules.

[2018-04-12 04:38] Jov03 commented on #16
In Issue#8 it is mentioned that materialize is css framework of this project so including bootstrap too will cause some classes to overlap.Bootstrap and Materialize both have separate grid system it would be best if the entire project uses one grid system.

[2018-04-12 17:28] #7 closed

[2018-04-12 17:30] oreanroy opened #21 "Make the background image responsive on resposive branch"
Mak the background image responsive.
Make the icons appear closer to headings in left side.
improve the login form.

Push to responsive branch.

[2018-04-13 13:23] mepsrajput opened #25 "Need a GitHub icon"
Need a **GitHub** icon with dimension **22** x **22** in **png**. You can upload it in **media folder** (which is inside **public** folder) and then create a pull request.

[2018-04-13 13:29] mepsrajput commented on #16
Yes @Jov03 is right, we are using **materialize.css** as a framework rather than Bootstrap. favicon will be added later. As we are currently focusing on **UdaBuddy logo** (for which last date is **Saturday up-to 11.59pm** ).

[2018-04-13 13:34] pm17 commented on #25
I need to create a media folder and then keep the image in it and then shall create a pull request?

[2018-04-13 13:37] mepsrajput commented on #25
The folder is already there, you just need to put it.

[2018-04-13 13:38] pm17 commented on #25
I couldn't find it, wait let me rebase and will then again make a PR

[2018-04-13 13:41] revanthgss commented on #25
dark or white?

[2018-04-13 13:42] pm17 commented on #25
ok let me rebase and will make another PR

[2018-04-13 13:43] mepsrajput commented on #25
@revanthgss same as original

[2018-04-13 13:45] pm17 commented on #25
can you tell where the folder is located?

[2018-04-13 13:48] mepsrajput commented on #25
@pm17 updated the issue, pls check.

[2018-04-13 13:52] revanthgss commented on #25
Done!! btw what is the issue

[2018-04-13 14:10] #25 closed

[2018-04-13 14:32] littlestar642 commented on #16
Closing this issue as it is redundant

[2018-04-13 14:32] #16 closed

[2018-04-13 14:35] littlestar642 opened #29 "Make the index page look better"
present look:-
![image](https://user-images.githubusercontent.com/27431066/38863888-a37e894a-4256-11e8-8f61-d2f7416505f1.png)

**Feel free to add your styles but try keeping the design minimal**

[2018-04-13 14:40] littlestar642 opened #30 "Make a layout for the profile page TAB-1"
Desired view-:
![profile1](https://user-images.githubusercontent.com/28615945/38741054-a06a6e5c-3f56-11e8-80e4-aefb7b9340fa.JPG)

[2018-04-13 14:41] littlestar642 opened #31 "Make a layout for the profile page TAB-2"
desired view:-
![profile2](https://user-images.githubusercontent.com/28615945/38741097-c2c952f6-3f56-11e8-88e2-68ee2e49e932.JPG)
**Feel free to add your styles but try to keep the design minimal**

[2018-04-13 14:44] littlestar642 opened #32 "Make a layout for the profile page TAB-3"
desired view:-
![profile3](https://user-images.githubusercontent.com/28615945/38741292-4165e34a-3f57-11e8-878c-c21f0cca16e6.JPG)
**Feel free to add your style but try to keep the design minimal**

[2018-04-13 14:47] littlestar642 opened #33 "Make a layout for the Resourses page"
Desired view-:
![resources](https://user-images.githubusercontent.com/28615945/38741440-92fd8726-3f57-11e8-9e59-b13c4201ff02.JPG)
**Feel free to add your styles but try keeping the design minimal**

[2018-04-13 15:01] souro18 commented on #33
would like to work on this.
Just tell me what will happen if we click on any of them.

[2018-04-13 15:08] shreyag12 commented on #29
Will work on it.

[2018-04-13 15:10] revanthgss commented on #32
Will work on this

[2018-04-13 17:25] shreyag12 commented on #29
@littlestar642 This is how my index.hbs looks in my local. Sign in with Github, Google etc are not being displayed. I have rebased just now.
![screenshot from 2018-04-13 22-53-32](https://user-images.githubusercontent.com/6481566/38748998-ace5d128-3f6d-11e8-9da0-f32535af9282.png)

[2018-04-13 17:33] mepsrajput commented on #29
@shreyag12  In my browser it look like this
![image](https://user-images.githubusercontent.com/27431066/38749304-c2de72d6-3f6e-11e8-9f87-f026104b573b.png)

[2018-04-13 19:51] nsaicharan commented on #30
Can I work on this issue?

[2018-04-13 20:07] littlestar642 commented on #30
@nsaicharan Yeah you can! Its open

[2018-04-13 20:08] littlestar642 commented on #29
@shreyag12 Just check your console,if it showing any missing files or unknown resource. Else it should have shown

[2018-04-13 21:36] abulhayat1 commented on #29
![index](https://user-images.githubusercontent.com/20585955/38758880-b50f142c-3f90-11e8-9c05-21ae5482f22c.JPG)

i have modified some of the element in index file is it looking good ?

[2018-04-14 02:26] Saichethan commented on #32
Do this support OAuth 2.0 validation

[2018-04-14 02:32] Saichethan commented on #30
How are we going to save this databases

[2018-04-14 02:36] Saichethan commented on #8
How are we going to automate data i.e fetching from databases

[2018-04-14 02:57] vinrok commented on #29
Awesome.

[2018-04-14 03:38] Prateek-Tewari commented on #29
@abulhayat1  cool work bro. Can you experiment with different color gradients and see if you can achieve something even more cooler. Your participation is welcome. And do share the screenshot of your works on slack so that people appreciate your work.
All the best.

[2018-04-14 03:41] Prateek-Tewari commented on #8
@Saichethan That will be conveyed to you after some time. Right now, UI is the base concern and for that you can create any dummy data to get the desired result.

[2018-04-14 04:53] shreyag12 commented on #29
@mepsrajput @littlestar642 This is screenshot of my console
![screenshot from 2018-04-14 10-20-46](https://user-images.githubusercontent.com/6481566/38764484-9a94c370-3fcd-11e8-8b74-e1fe8f64e20a.png)
I don't understand when path of style.css and other css and js files is public/css then why in index.hbs the path has been given css/style.css. This is why is shows file not found in my console.

[2018-04-14 05:45] littlestar642 commented on #29
@shreyag12 Seems like you need to hard reset your fork with respect to the main repo. You might have made changes in your files previously which are now left unchanged. Just hard reset that

[2018-04-14 05:47] littlestar642 commented on #29
@vinrok This is not a slack feed where we welcome your comments or appraisal. This is only for showing your work and in case commit to work on an issue. Please refrain from making any such comment now onwards

[2018-04-14 06:05] vinrok commented on #29
I apologize for that and assure you that wouldn’t repeat the same hereafter.

Sent from Mail for Windows 10

From: avinash
Sent: Saturday, April 14, 2018 11:17 AM
To: UdacityFrontEndScholarship/udabuddy
Cc: Vinay Chitrakathi; Mention
Subject: Re: [UdacityFrontEndScholarship/udabuddy] Make the index page lookbetter (#29)

@vinrok This is not a slack feed where we welcome your comments or appraisal.

[2018-04-14 06:38] shreyag12 commented on #29
![screenshot from 2018-04-14 12-06-52](https://user-images.githubusercontent.com/6481566/38765295-68c7ab14-3fdc-11e8-95c5-8ad111764542.png)
Guys if this looks fine to you, i will raise a pull request.

[2018-04-14 09:28] Abulnoviceninja commented on #29
![index3](https://user-images.githubusercontent.com/18377196/38766748-27fc71f6-3ff4-11e8-9dbb-a9f2a739d2ad.JPG)

live version https://udabuddy-abulhayat.c9users.io/

[2018-04-14 10:35] nsaicharan commented on #30
Hi guys, I'm working on two different versions of this page.

The design of the first version looks similar to the mockup image.
Link - http://profilev1.surge.sh/

In another version, I've used single column layout.
It looks totally different when compared to mockup image, however, there are some advantages:
- We can make use Materialize tabs (try clicking on **Work & Education** or **Account**) i

[2018-04-14 14:38] pm17 commented on #30
second one is better, if moderator could consider

--

Thanks & Regards,

Parvesh Mourya

On Sat 14 Apr, 2018, 4:05 PM Sai Charan, <notifications@github.com> wrote:

[2018-04-15 10:03] littlestar642 opened #48 "Udabuddy Logo"
*UdaBuddy logo*

We have selected the following logo by @souryavaransi . It is both unique & precise.  https://drive.google.com/file/d/1xmFOVa9OR6sEIe4qwCsxVhwK0aDAHKL_/view

We could not overlook the work done by @vattytrivedi. His logo will be used as the background image of the landing page. Here is the link https://drive.google.com/file/d/13RHVHu9iWOviWG1nKjR4BESws5MK1XDM/view?usp=drivesdk

Co

[2018-04-15 12:30] souro18 commented on #33
close this issue PR #50

[2018-04-15 14:40] souro18 commented on #31
would like to work on this issue. though I have a doubt. I saw there is a pending PR for Basic tab of profile page. should I wait for that PR to be accepted and extend that file? or ignore that and make my own file?

[2018-04-15 14:54] revanthgss commented on #31
@souro18 extending that file will be good I guess

[2018-04-15 15:11] souro18 commented on #31
ok. In that case I am waiting for that PR to be accepted.

[2018-04-15 17:47] vijayvargiyakhushboo commented on #32
Can i work on this?

[2018-04-15 18:26] vijayvargiyakhushboo commented on #32
I am working on this.

[2018-04-15 19:08] souro18 commented on #31
@littlestar642 do inform me when PR #44 gets merged.

[2018-04-16 07:45] #48 closed

[2018-04-16 07:45] #33 closed

[2018-04-16 07:49] littlestar642 commented on #29
@shreyag12 this really looks great
Check for breakpoints in mobile view, and show me a CodePen of the same
After that make a pr, and I will merge this

[2018-04-16 07:49] littlestar642 commented on #21
Closing because redundant

[2018-04-16 07:49] #21 closed

[2018-04-16 10:26] souryavaranasi commented on #29
Hi, @littlestar642  Can I still work on this issue. This is going to be my first collab and first PR.

[2018-04-16 17:13] #30 closed

[2018-04-16 17:16] littlestar642 commented on #31
@souro18 I merged #44 . Please see that the layout you make corresponds to the present one i merged. They both should be semantically same

[2018-04-16 17:35] souro18 commented on #31
Sure.I will only add work and education. Just one question should I made the navbar like resources page(which will make navigation between pages easier)? or leave it as it is @littlestar642

[2018-04-16 18:56] souryavaranasi commented on #29
[https://codepen.io/sugunav/full/BrXdXo](https://codepen.io/sugunav/full/BrXdXol)
If it is good, I'll try to improve more.

[2018-04-16 19:56] amarjeetsingh1999 opened #56 "Add features to the Password input field"
Enable password masking while the password is being typed.
Add feature of show password.
Add feature of password strength checker.

[2018-04-17 01:08] kadumuri1994 commented on #56
Can I work on this issue?

[2018-04-17 05:29] littlestar642 commented on #56
@amarjeetsingh1999 i guess we don't be needing this password regeneration page, as all the auth events will be handled by firebase itself and there is no such requirement
I will be closing that issue soon

[2018-04-17 05:34] littlestar642 commented on #31
@souro18 if you go changing the navbar then make that change look consistent with the design
A lot of text on a page like this might overwhelm a user so you can try sliding in a side nav at all screen views irrespective of any vw

[2018-04-17 09:49] amarjeetsingh1999 commented on #56
@littlestar642 till yesterday the dashboard had its own sign up option with the input field for email and password but now i saw that it has been updated and sign up through other social accounts is provided as option. So now this issue has no validity i guess and it should be closed.

[2018-04-17 10:12] mepsrajput commented on #56
Yes, we are using google's firebase for authentication, thus we don't need user signup form. @kadumuri1994 @amarjeetsingh1999 there are many other issues which you can work on. Just go through [issues](https://github.com/UdacityFrontEndScholarship/udabuddy/issues). Thank you, keep contributing.

[2018-04-17 10:12] #56 closed

[2018-04-17 12:07] phanindrakoka09 commented on #29
Is this issue still open can i work on it am sure that i can improve the page in a much better way some one let me know ?

[2018-04-17 12:12] mepsrajput commented on #29
@phanindrakoka09
This issue is still open. If you are sure that you can improve this page, you are welcome.

[2018-04-17 15:28] littlestar642 commented on #32
Closing because N.A with respect to present project structure

[2018-04-17 15:28] #32 closed

[2018-04-18 05:09] souryavaranasi commented on #29
It can still be improved, IMO.
![screenshot 20](https://user-images.githubusercontent.com/12248702/38912542-79d5a34c-42f3-11e8-8493-060a9f12cf6a.png)
![screenshot 21](https://user-images.githubusercontent.com/12248702/38912635-0bb21692-42f4-11e8-90ae-624bf9f7c2b0.png)

[2018-04-18 08:33] revanthgss opened #63 "Adding primary color palette to the website"
To make all the web pages in a same theme, we must include a primary color palette to the website

[2018-04-18 14:02] littlestar642 commented on #63
One of our mods is working for this, only that he is busy within exams because of which he is not being real quick. We will see to this

[2018-04-18 15:08] abhishekakade commented on #63
Please close the issue if help is not required.

[2018-04-18 15:12] mepsrajput commented on #63
@abhishekakade if you can help, you are more than welcome.

[2018-04-18 16:03] souro18 commented on #31
https://secret-lowlands-47596.herokuapp.com/profile Have a look

[2018-04-18 16:08] revanthgss commented on #31
@souro18 the side NAV should not have sign-up/login because we go to profile page only after login

[2018-04-18 17:29] littlestar642 commented on #31
@souro18 That looks really good. I think what @revanthgss said is a issue that can be fixed and I will see to that when needed.

[2018-04-18 17:33] littlestar642 commented on #63
@abhishekakade it's not like if someone is working on this issue then you cannot. We just want rapid contributions. If you can give us that, it will be your code that will adorn our app for a time. Please give your ideas and suggestions  always

[2018-04-18 17:35] littlestar642 commented on #63
@revanthgss please choose at max two or three colors with one being the primary. Also show us the shade you think.

[2018-04-19 05:05] souryavaranasi commented on #63
Hii @littlestar642  how about any of these color palettes?

![color-udabuddy](https://user-images.githubusercontent.com/12248702/38972049-fd36e5e8-43bb-11e8-9ca7-9a145d1c3515.png)
![color2-udabuddy](https://user-images.githubusercontent.com/12248702/38972281-21571e74-43bd-11e8-9031-779f06f361cc.png)
![color3-udabuddy](https://user-images.githubusercontent.com/12248702/38972283-24bba17a-43bd-11e8-9

[2018-04-19 08:12] littlestar642 commented on #63
@souryavaranasi Can you show me two or more pages from our app in any of the color pallete you think suits the screen well and the contents don't look overwhelming on the eye?

[2018-04-19 08:13] littlestar642 commented on #63
@abhishekakade nevermind.

[2018-04-19 08:13] #31 closed

[2018-04-19 08:16] littlestar642 commented on #29
@souryavaranasi I feel the present index page has a better appeal than the layout you present here. Dont worry i will be opening new issues shortly so that you can work on it and provide us some good frontend pages

[2018-04-19 13:26] Jov03 opened #68 "Setup Gulp to Optimize Workflow"
I would like to setup gulp on this project in order to turn on live editing and sass preprocessing on this project. Can I make the PR after setting it up.

[2018-04-19 15:44] littlestar642 commented on #68
@Jov03 Earlier when we were deciding the stack for the project, i gave a thought over to automatize the workflow using some taskmanager,particularly grunt,but then it occured to me that people here are facing problem with git push and pull only and other basic stuff and we cant really add a tech that they are completely new to. So i left that for the time. What do you think,should we integrate gul

[2018-04-19 17:02] Jov03 commented on #68
@littlestar642 i just integrated browser sync i haven't introduced sass or anything.Just browser sync so that we can preview changes quickly without refreshing the page over and over again.

[2018-04-20 05:08] souryavaranasi commented on #63
@littlestar642  sure I can, would you mind if I give it by this Sunday?

[2018-04-21 11:06] karkranikhil commented on #68
We can automate the workflow with any of the tech grunt or gulp. My personal preference is Gulp @littlestar642

[2018-04-21 11:27] Jov03 commented on #68
Yeah because gulp uses streams allowing us to run parallel task and its code is in JavaScript 😄

[2018-04-21 16:25] karkranikhil commented on #29
<img width="1438" alt="screen shot 2018-04-22 at 2 24 23 am" src="https://user-images.githubusercontent.com/11937732/39086428-63d8ef48-45d4-11e8-8ed9-b3d2f0476580.png">

[2018-04-22 06:47] littlestar642 commented on #29
@karkranikhil Its really good you brought those links from below to the top ,but can you please try changing the backgroung image with that of the present UB background. Try fading that down a bit by puting the gradient above that or whatever way it look great. Try it out!

[2018-04-22 07:53] karkranikhil commented on #29
@littlestar642 can you check the latest changes.
<img width="1438" alt="screen shot 2018-04-22 at 5 50 13 pm" src="https://user-images.githubusercontent.com/11937732/39092642-f4ca20c2-4655-11e8-8742-3e281fdb19eb.png">

[2018-04-24 12:17] #8 closed

[2018-04-24 13:16] littlestar642 commented on #29
@karkranikhil Can you provide me with a deployment?

[2018-04-24 13:26] karkranikhil commented on #29
@littlestar642 i will give you tomorrow for sure. i was busy from couple of days :)

[2018-04-24 16:42] Prateek-Tewari opened #77 "Udabuddy Forum Basic Idea Mockup"
Mockups for Udabuddy's Forum are invited. Here is one rough template.

![forumideanew](https://user-images.githubusercontent.com/26305359/39201074-8b406190-480b-11e8-9c5a-91cdf30fe978.png)
In the rough template, the first image will serve like a cover pic for the forum page.
Rest of the three images are placeholder for a user's picture and the text in front of them signifies the content that a use

[2018-04-25 03:05] karkranikhil commented on #29
<img width="962" alt="screen shot 2018-04-25 at 1 04 55 pm" src="https://user-images.githubusercontent.com/11937732/39224189-5136030a-4889-11e8-8c65-b3699c401b6b.png">

Mobile view

[2018-04-25 03:07] karkranikhil commented on #29
<img width="834" alt="screen shot 2018-04-25 at 1 05 50 pm" src="https://user-images.githubusercontent.com/11937732/39224228-90b50292-4889-11e8-93c1-e80c9c35d042.png">

Tablet view

[2018-04-25 04:36] littlestar642 commented on #29
@karkranikhil You need to make your ow deployment on heroku. Please see the steps to deploy you app on heroku or refer this link https://www.youtube.com/watch?v=AZNFox2CvBk

[2018-04-25 05:11] karkranikhil commented on #29
@littlestar642  check this out
https://uda-buddy.herokuapp.com/

[2018-04-25 18:07] Prateek-Tewari opened #79 "Code The Dashboard"
This is the chance to show your skills to design the dashboard for **_Udabuddy._**
Here is the rough mockup :
![dashboardideanew](https://user-images.githubusercontent.com/26305359/39263167-0766ad5a-48df-11e8-9d40-5b086c4ed031.png)
The Menu items on left will control the content on right. For example, a menu item controlling Job Feed, will change the Job Feed according the job stream(Java,UI,DB et

[2018-04-26 12:39] souro18 commented on #79
Can I work on this?
Just to be clear, "menu items" are filter for jobs and other tabs, right?

[2018-04-28 08:12] NumbSkullq1 commented on #79
i will make a mockup for this.

[2018-04-28 09:29] #63 closed

[2018-04-28 09:37] Prateek-Tewari commented on #79
@souro18 sure you can.
Yes menu items are exactly what you understood.

[2018-04-28 09:38] Prateek-Tewari commented on #79
@NumbSkullq1  cool. Go ahead.

[2018-04-28 11:43] littlestar642 opened #84 "make a layout of the Wall of Fame"
Refer the styleguide and design a layout for the Wall of fame.

[2018-04-28 11:45] littlestar642 opened #85 "make a layout of the Blog"
Please refer the styleguide and design a layout of the blog page.

[2018-04-28 11:46] littlestar642 opened #86 "make a layout of the about page"
Please refer the styleguide and design a layout of the about page

[2018-04-28 11:47] littlestar642 opened #87 "make a layout of the forum page"
Please refer the styleguide and design the layout of the forum page

[2018-04-28 11:48] littlestar642 opened #88 "make a layout of the weekly updates"
Please refer the styleguide and design a layout of the weekly updates page.

[2018-04-28 12:03] littlestar642 opened #89 "make the navbar to slide in on scroll"
Present behavior-:
The navbar is static and also having a bottom shadow.

Desired behaviour:-
Remove the bottom shadow on no scroll and make the navbar to slide in on scroll of 10 px.
I guess we need the code for two navs and then we can toggle proper classes on scroll.

[2018-04-28 12:07] littlestar642 opened #90 "Rectify the mobile view of landing page"
present view-:
![1](https://user-images.githubusercontent.com/28615945/39396363-85518b2c-4b0a-11e8-944f-97a53e43f084.png)

desired view-:
1. decrease the text-content on the page and make it a little less overwhelming
2. the footer text should be placed in the footer not in between buttons.
3. enable the working of the sidebar button

[2018-04-28 15:07] souro18 commented on #79
@Prateek-Tewari
Have a look. https://secret-lowlands-47596.herokuapp.com/dashboard

[2018-04-28 16:06] Padhma commented on #86
Can I work on this issue @littlestar642 ???

[2018-04-28 17:04] littlestar642 commented on #86
Ya sure! go ahead @Padhma

[2018-04-28 17:10] souryavaranasi commented on #85
Can I work on this @littlestar642 ?

[2018-04-28 17:24] littlestar642 commented on #85
Sure @souryavaranasi . Infact i will be personally developing this with you.

[2018-04-29 13:45] #29 closed

[2018-04-30 02:57] crisner commented on #89
@littlestar642 Can I work on this?

[2018-04-30 05:32] littlestar642 commented on #89
@crisner Sure. Go ahead! Please see that we need a navbar always on the screen ,as it contains nav buttons. Only that in no scroll there will be no background and also no bottom shadow and on 10 px scroll a new navbar has to dive in from the top that has a background(white) and also a bottom shadow.

[2018-04-30 06:06] crisner commented on #89
Okay. Noted. Thanks. I'll be working on this.

[2018-04-30 13:07] littlestar642 commented on #84
@shreyag12 Sure you can. I would suggest you if you could wait a day or two then i can provide you with a mockup too that needs to be implemented here. Also,you can start and try your creativity straightaway!

[2018-04-30 13:18] crisner opened #96 "I am submitting a bug report"
**Current behavior:** The hamburger icon does not open on click

**Expected behavior:** The hamburger icon has to open to display menu upon click

[2018-05-01 04:33] shreyag12 commented on #84
@littlestar642 Sure. I was about to ask you how exactly the wall of fame should look like. A mockup would help :)

[2018-05-01 07:38] littlestar642 commented on #96
@crisner Its a best practice if we solve one issue per PR. I guess you can work on this issue once #95 gets merged.

[2018-05-01 11:36] souro18 commented on #79
@littlestar642 could you please help me out on this issue. I had submitted the design 3 days ago but didn't hear from @Prateek-Tewari or any other mod/co-mods. what should I do?

[2018-05-01 11:49] crisner commented on #96
Okay. Shall do that. Thanks.

[2018-05-01 11:54] Prateek-Tewari commented on #79
![image](https://user-images.githubusercontent.com/26305359/39471958-b86713be-4d63-11e8-9cd4-a8e63a6ccfba.png)
@souro18 you can go ahead with the dashboard you made. Please look into the color palette and play with the colors a little more to get the best page layout. Right now it's looking very basic. Include more menu options as you see fit.
Also, do include working login option as i was not abl

[2018-05-01 11:57] souro18 commented on #79
@Prateek-Tewari please go to https://secret-lowlands-47596.herokuapp.com/ and log in with the last option(sign in with email)

[2018-05-01 12:06] Prateek-Tewari commented on #79
@souro18 That's not working for me. I already signed into Heroku with email for the udabuddy app and its not letting me in.
This is the error i am getting, help me get past this.

[2018-05-01 12:10] souro18 commented on #79
That is firebase UI. I didn't do that code but it works for me. there should be a forgot password option. maybe @littlestar642 can help in this login

[2018-05-01 12:16] Prateek-Tewari commented on #79
@souro18 ok. I will get this sorted.
Please work on the suggested points.

[2018-05-02 16:31] #89 closed

[2018-05-03 16:49] merakhi commented on #88
Hi, can work on this?
I'll require mock-up for this.
As this is an individual page for the weekly updates.
So will it be like only weekly updates in center? or weekly updates as main content and some small block(s) of different contains?
How much amount of information will be required to display for each update? Like one/two liner or it will be something like title then description. If description

[2018-05-04 04:38] #96 closed

[2018-05-04 05:18] crisner opened #100 "I am submitting a bug report on the about page"
**Current behavior:** Cannot click navbar links on the about page and the menu icon doesn't show in the mobile view

**Expected behavior:** Should be able to click navbar links on the about page and the menu icon has to show in the mobile view

[2018-05-04 14:14] oreanroy commented on #100
@crisner the navbar for mobile version was not added, There's another bug the background of the upper part does not fit with the text in varying screen size(height).

[2018-05-04 14:57] crisner commented on #100
@oreanroy I just checked the navbar as I was working on it earlier. I'm not sure if this is what you meant by another bug, but the text on the upper part and also at the bottom part of the screen have some issues on different screen sizes.

[2018-05-04 21:34] utkarsh2102 opened #101 "Contact Us Section."
How about the "Contact Us" section at the bottom of https://udbuddy.herokuapp.com/ ?
It'd have social media links of the projects and would also contain the "fork me" section at the corner.
If we have a mutual consent, I can work on the same and make a PR?

[2018-05-05 04:26] littlestar642 commented on #101
That's a cool idea. I guess we can have such footers for every page there in our UI. Please show me a mockup or if you prefer, a deployment of a design.

[2018-05-05 08:50] #100 closed

[2018-05-05 08:55] utkarsh2102 commented on #101
Sure @littlestar642.
I'll update you with something basic today. If you like the idea overall, we can then work on the colour blending as well.

[2018-05-05 12:02] sumilmehta opened #103 "Try modifying the nav bar (Specially the hyperlinks)"
1. Check out the hyperlinks
2. Check out the left margin for logo/title
![screenshot 2018-05-05 17 27 34](https://user-images.githubusercontent.com/18137211/39663076-304b8bac-508a-11e8-95bc-f0d9577029c8.png)

[2018-05-05 12:56] littlestar642 commented on #103
I guess once all our pages are made, we can see to this as then we will be having proper routes

[2018-05-05 16:28] littlestar642 commented on #79
@souro18 any ETA on this?

[2018-05-05 16:31] #77 closed

[2018-05-06 10:05] sskanishk opened #104 "Overlapping of div(your activity section) and navbar in dashboard"
## in dashboard div and navbar overlapping
is this looking good?
https://udbuddy.herokuapp.com/dashboard

![screen shot 2018-05-06 at 3 23 12 pm](https://user-images.githubusercontent.com/29313203/39672151-69b45b2c-5142-11e8-8c1b-b7fe45061339.png)

[2018-05-07 05:23] vamsikrishnareddybevara opened #107 "Improvement of "NAV BAR""
![screenshot 194](https://user-images.githubusercontent.com/38369869/39686054-5ff1d70c-51e4-11e8-9a52-0fe5538d8d33.png)
guys,i want to improve the nav bar look...

"Want to add a line under the nav bar..that seperates the nav bar and the content page..."

[2018-05-07 07:42] skywalker212 opened #109 "Overlapping of main page and navbar in About Page"
![udbuddy herokuapp com_about](https://user-images.githubusercontent.com/16351685/39690470-e1d718dc-51f7-11e8-9f96-4db46030ddc5.png)
you can see this issue [here](https://udbuddy.herokuapp.com/about): https://udbuddy.herokuapp.com/about

[2018-05-08 05:49] littlestar642 commented on #101
@utkarsh2102 I guess having a footer with sectors like quick links ,contact us and license will be a better use of the display,rather than a single segment. If you feel the same, make a design and make a pr,as i can see you know about minimal design. Else do tell here your thoughts

[2018-05-08 05:59] littlestar642 commented on #109
@skywalker212 I guess a fixed navabr does not work here. A scrollable one would be better. If you want to work on this,please go ahead

[2018-05-08 13:39] skywalker212 commented on #109
@littlestar642 okay, so you want the navbar sticked to the top right?

[2018-05-09 16:49] utkarsh2102 commented on #101
@littlestar642,
Please check this footer :
![footer](https://user-images.githubusercontent.com/31288318/39825700-1d57c60c-53d0-11e8-855f-2777786ad8e3.png)
Let me know if you like it?

[2018-05-09 17:08] littlestar642 commented on #101
Yeah,looks good @utkarsh2102 . Decide the text in reference to the app. For ex- starting left to right
Udabuddy                                              Quick links                 Stay connected           This last columns
FAQ's(a page deemed to be made)       Links to pages           facebook and other     has to be thought of
conatact us(gmail,i guess)                     of our present app

[2018-05-09 21:57] littlestar642 commented on #109
@skywalker212 Nope. I guess it will be better if the navbar is scrollable.

[2018-05-09 21:58] #104 closed

[2018-05-09 22:14] souryavaranasi opened #113 "add <hr/> tags wherever necessary and style headings and titles according to font-style"
This has to be done on blog.hbs file.

- Give a horizontal row  between each horizontal card and under the main headings i.e, Recent and Trending.
- Give font-style in blog.css page according to the project guidelines.
- Separate Recent and Trending columns with a vertical line.

[2018-05-09 22:23] souryavaranasi opened #114 "Make the horizontal cards on blog page mobile responsive"
Decrease the size of horizontal-cards on mobile view and make it responsive

[2018-05-10 04:14] shreyag12 commented on #113
@souryavaranasi Can I work on this?

[2018-05-10 04:29] skywalker212 commented on #109
@littlestar642 so I think it would be better if we bring navbar to the front and add a background color to the navbar or change the font color so that we can distinguish between navbar and other elements since it is already scrollable.

[2018-05-10 05:38] seethaR03 commented on #113
Is this still open?

[2018-05-10 06:03] souryavaranasi commented on #113
I guess @shreyag12  can work on this, @littlestar642  Please confirm.

[2018-05-10 07:48] littlestar642 commented on #113
@shreyag12 Go ahead!

[2018-05-10 17:41] #86 closed

[2018-05-10 17:45] oreanroy commented on #109
@skywalker212 provide a blue color background to the navbar and show the deployment also

[2018-05-10 17:56] oreanroy opened #115 "404 not found."
Design a 404 not found page and through .htacces If unable to implement .htacces ping me on slack.

[2018-05-10 17:58] #107 closed

[2018-05-10 20:08] skywalker212 commented on #109
@oreanroy okay, working on it

[2018-05-10 20:40] skywalker212 commented on #109
![localhost_3000_about](https://user-images.githubusercontent.com/16351685/39893103-610ccc76-54c0-11e8-87f7-8c06066d8eab.png)
@oreanroy @littlestar642 should I proceed with something like this?
or just keep the navbar background transparent and bring it to the top?

[2018-05-11 02:02] vattytrivedi commented on #115
Can you suggest what kind of design you wish for?
Also some basic on the template if any.
@oreanroy

[2018-05-11 04:28] littlestar642 commented on #109
@skywalker212 This seems good enough. I guess make this responsive and then make a PR

[2018-05-11 04:43] oreanroy commented on #115
you are free to explore your creativity

[2018-05-11 05:25] abhishekakade commented on #114
May I work on this?

[2018-05-11 06:08] skywalker212 commented on #109
@littlestar642 I have raised a PR, please look into it.

[2018-05-11 06:09] littlestar642 commented on #114
@abhishekakade For the blog page added, see how you can make it beautiful in mobile. Suggest any UI feature that you would want to add.

[2018-05-11 06:14] #85 closed

[2018-05-11 06:15] littlestar642 commented on #101
@utkarsh2102 Any ETA on this?

[2018-05-11 07:02] sanchit04 commented on #101
can i try this? @littlestar642

[2018-05-11 13:05] vattytrivedi opened #118 "favicon icon for the website"

[2018-05-11 14:31] littlestar642 commented on #101
@sanchit04 I guess @utkarsh2102 is busy. You can surely go ahead making this footer section

[2018-05-11 15:13] sanchit04 commented on #101
what things should i add in the footer? can you give me some details.. @littlestar642

[2018-05-11 17:34] abhishekakade opened #119 "Content overflow in a card from blog dashboard."
Content overflow in Completed Courses card from the dashboard in blog. There's also some extra unnecessary margin below. And the card title has excessive padding, thus the overlapping of text.
I've attached the image below.

![card content overflow](https://user-images.githubusercontent.com/26276153/39938143-955295a6-556f-11e8-908b-aebe225bd2c3.JPG)

[2018-05-11 22:52] Karthik781 commented on #118
What icon to be used?

[2018-05-12 06:05] skywalker212 commented on #119
please close this issue, since it's fixed.

[2018-05-12 06:28] vattytrivedi commented on #115
Here are a few samples of error pages:

- https://codepen.io/VattyTrivedi/pen/VxroRO
- https://codepen.io/VattyTrivedi/pen/LmOwaq
- https://codepen.io/VattyTrivedi/pen/JvOgze
- https://codepen.io/VattyTrivedi/pen/RyyEOM
- https://codepen.io/VattyTrivedi/pen/pVVqmz

[2018-05-12 06:43] sanchit04 opened #122 "Header overlapping when scrolled"
![image](https://user-images.githubusercontent.com/37934048/39954468-b2df41b4-55dd-11e8-87b1-93a8932af6fb.png)

[2018-05-12 06:54] souro18 commented on #122
issue has been solved my PR . Waiting for it to be accepted.

[2018-05-12 10:42] vattytrivedi commented on #115
@oreanroy  Can you check at the links?

[2018-05-12 10:45] oreanroy commented on #115
i like the second and third one

[2018-05-12 10:50] vattytrivedi commented on #115
so @oreanroy any suggestions or idea to merge them.
How should I make a PR for this?

[2018-05-12 10:51] vattytrivedi commented on #118
@Karthik781 Have you finalize the icon?

[2018-05-12 11:05] praveen-me commented on #115
Yeah. @oreanroy.Where can I add my code? Because in the project where I can add just like index.html

[2018-05-12 11:33] vattytrivedi opened #124 "Improve SEO to appear in first tem results of Google search for keywords udabuddy"
Improve the SEO tags and make udabuddy more visible in Google search results. Optimise code by minifying, images, etc.

[2018-05-12 13:46] oreanroy commented on #115
@vattytrivedi first implement .htacess in node and then upload a deployment and finally make pr.

[2018-05-12 13:47] oreanroy commented on #115
@praveen-me yes, read this https://stackoverflow.com/questions/6528876/how-to-redirect-404-errors-to-a-page-in-expressjs?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-05-12 13:48] #124 closed

[2018-05-12 13:51] oreanroy opened #125 "Add links to all href tags and a, icon tags in wof, about, blog, dashboard."

[2018-05-12 14:38] Karthik781 commented on #125
@oreanroy i will work on this.

[2018-05-12 19:10] #103 closed

[2018-05-12 19:10] #119 closed

[2018-05-12 19:11] littlestar642 commented on #113
@shreyag12 Any ETA on this?

[2018-05-12 19:12] littlestar642 commented on #101
The image i provided here can be taken as a reference. You can add any other feature, but please inform once

[2018-05-12 19:15] #122 closed

[2018-05-13 01:48] vattytrivedi commented on #118
Here is the ico file.
https://drive.google.com/file/d/1GYbg532AH9CdLrZdQywvSp7DHQJ2Ucdc/view?usp=sharing
Sorry for the delay @Karthik781

[2018-05-13 06:14] shreyag12 commented on #113
@littlestar642 will try to submit this by EOD. Just wanted to know from where can i find font-style used in project. It is not mentioned in contributing.md

[2018-05-13 08:04] shreyag12 commented on #113
![screenshot from 2018-05-13 13-33-16](https://user-images.githubusercontent.com/6481566/39965192-3a83a900-56b2-11e8-913e-8b8866331c85.png)
@littlestar642 @souryavaranasi  Does this look fine or you need some other changes?

[2018-05-13 08:39] souryavaranasi commented on #118
@littlestar642  exactly! That would look amazing, the one with white bg.

[2018-05-13 08:47] Karthik781 commented on #118
@littlestar642 @souryavaranasi they look great but i suggest adding "udabuddy" tag under the logo. Anyway, it will do as plain as well.

[2018-05-13 10:31] utkarsh2102 commented on #101
The PR has been made.
CC: @littlestar642 @sanchit04

[2018-05-13 14:55] Prateek-Tewari commented on #87
Done
[Here is the path](udabuddy/views/forum.hbs)

[2018-05-13 14:56] #87 closed

[2018-05-13 16:49] littlestar642 commented on #118
Do someone want to take up this task of adding this icon in the navbar of the pages. @Karthik781 @vattytrivedi @souryavaranasi

[2018-05-13 16:50] #113 closed

[2018-05-13 16:52] #79 closed

[2018-05-13 17:39] vattytrivedi commented on #118
Which type of logo you wish? @littlestar642

[2018-05-14 04:54] littlestar642 commented on #118
@vattytrivedi i guess the favicon can also serve as a good logo for the app presently

[2018-05-14 04:55] littlestar642 commented on #118
@souryavaranasi sure, please go ahead!

[2018-05-15 04:35] souryavaranasi opened #132 "Fix Nav bar overlapping issue on blogs.hbs page"
1. Do not change navbar.css file or any files in partials folder.
2. Edit only the respective CSS and Hbs files

[2018-05-15 16:44] abhishekakade commented on #132
Is it okay if just `margin-top` property is used on `body` tag? Z-index has been used on a lot of elements in navbar. I don't know if there's any other way to solve this.

[2018-05-15 17:26] souryavaranasi commented on #132
You can experiment with anything if it is going to help solve the problem, but please do not edit navbar.css or any partials for the time being as it would disturb all other pages they are being used.

[2018-05-15 17:44] souryavaranasi commented on #132
@abhishekakade  I found the root cause, I think I can fix it, it's not the css issue but due to recent changes I made before. Let me fix this.

[2018-05-15 18:10] littlestar642 opened #134 "Add proper names and routes to the navbar"
For all the pages of the app that are presently made and working, add a name and a route to that in the navbar. Please ensure that it is done in the mobile view too.

[2018-05-15 18:14] littlestar642 opened #135 "Enhance the layout of blog Page"
The present left section of the page is not properly aligned. Please center the button and modify the text so that it looks good.

Present view:-
![1](https://user-images.githubusercontent.com/28615945/40075419-dcd5b2f0-5899-11e8-8a67-3db9456b814e.png)

Desired view:-
Aligned and enhanced layout

[2018-05-15 18:27] #114 closed

[2018-05-16 03:59] abhishekakade commented on #132
Yeah, okay @souryavaranasi

[2018-05-16 04:24] shreyag12 commented on #135
@littlestar642 Can I work on this?

[2018-05-16 04:43] littlestar642 commented on #135
@shreyag12 Sure. Go ahead!

[2018-05-17 10:49] abhishekakade commented on #134
May I work on this?

[2018-05-17 11:52] Prateek-Tewari commented on #134
@abhishekakade yes you can.

[2018-05-17 13:31] vattytrivedi commented on #118
Is the logo finalized?
Or you have or need a new logo/concept?

[2018-05-18 12:09] littlestar642 commented on #118
@vattytrivedi Yep, We will be using this logo for the time. Also i am waiting for @Karthik781 to make a PR for the favicon

[2018-05-20 08:00] gauravsinghaec opened #137 "Signin Error on Udabuddy"
I tried signing in with Google and Email option but it failed.
Please check below screenshot on **Google Sign in** attempt.
![image](https://user-images.githubusercontent.com/15084301/40276840-bf7880fc-5c31-11e8-9a2b-9c8d01034e34.png)

[2018-05-20 08:08] littlestar642 commented on #137
The app you are using is not registered as a valid domain in our domain whitelist
Can you please tell me why is domain being used, is this your own deployment

[2018-05-20 08:31] gauravsinghaec commented on #137
Okay Is this https://udabuddynetwork.herokuapp.com/ not the official site?

[2018-05-20 08:52] gauravsinghaec opened #138 "Repeated Code for navlink in dashboard.hbs"
Even though we have navlink partial, there is redundant code in dashboard.hbs.
**navlink related code in dashboard.hbs**
![image](https://user-images.githubusercontent.com/15084301/40277190-9a9e5dc2-5c38-11e8-9b84-057533939198.png)

**navlink partial**
![image](https://user-images.githubusercontent.com/15084301/40277204-c58047e4-5c38-11e8-9dbb-fed53c3d7911.png)

**Duplicate HTML code on real time

[2018-05-20 09:03] gauravsinghaec opened #139 "Anchor URL link to resources and profile is missing in navlink partials"
Anchor URL link to resources and profile is missing in navlink partials hence these two header link is not working on any page..
**Impacted Code: views/partials/navlinks.hbs**

**Old Code in navlink partial**
[code]
**Suggested Change in navlink partial**

[code]
![image](https://user-images.githubusercontent.com/15084301/40277270-a09aea64-5c39-11e8-87d4-2e2add7606be.png)

[2018-05-20 09:37] #137 closed

[2018-05-20 09:37] littlestar642 commented on #137
Yes this https://udbuddy.herokuapp.com/ is our official deployment from the master

[2018-05-20 09:41] littlestar642 commented on #139
This issue is similar to #134 . Please refrain from opening similar issues. Also one of the contributor has taken that up.

[2018-05-20 09:41] #139 closed

[2018-05-20 09:41] littlestar642 commented on #138
@souryavaranasi Can you please review this?

[2018-05-20 09:55] gauravsinghaec commented on #139
Hey it's fine , I am not taking it up rather informing. This issue is not similar to #134 otherwise the links on all pages should not work but link in dashboard page is working but not on other pages so raised it.

[2018-05-20 10:01] gauravsinghaec commented on #134
@abhishekakade if you have not done it yet the please check the issue #139 for the more insight. You need to change in one file to get it reflected in all other places.

Also I would request udabuddy team to mention the *path* to be used in the *href* attribute in issue description. This will help participants.

[2018-05-20 10:09] souryavaranasi commented on #138
Hi, sorry for the delay. Will give an update on this issue by morning.

[2018-05-20 10:30] gauravsinghaec opened #140 "Dashboard page issue on Mobile View"
**Issue1: Overlapping header bar with main content**
![image](https://user-images.githubusercontent.com/15084301/40277978-25559e1e-5c46-11e8-9343-96cdc562b1e2.png)

**Issue2: Logout/ Profile/ Resources is not working on dashboard page on mobile but these links works fine on desktop**
Here I have logged in on mobile but I am not getting any way to log out and I am stuck.
![image](https://user-image

[2018-05-20 10:55] souryavaranasi commented on #140
Hi @gauravsinghaec  , I believe these issues are all going to be covered in issue #134
@littlestar642  please provide the description of fixes to be resolved in issue #134 that would avoid any confusion.

[2018-05-20 10:57] gauravsinghaec commented on #140
@souryavaranasi you mean issue 2, check the issue1 which I mentioned.

[2018-05-20 11:01] souryavaranasi commented on #140
@gauravsinghaec , yes, both of them might be covered, it needs to be dealt with partials folder. So we are still working on it. If the first one is not resolved, an issue will be raised soon.

[2018-05-20 11:32] littlestar642 commented on #140
@gauravsinghaec #141 solves this issue.

[2018-05-20 11:32] #140 closed

[2018-05-20 11:32] littlestar642 commented on #134
#141 Solves this issue

[2018-05-20 11:32] #134 closed

[2018-05-20 11:35] littlestar642 commented on #138
@gauravsinghaec If you check the code you will see that the code segment was repeated because in materialize we needed it to be like this way. In this way the mobile sidenav has got links of the navbar as well  as of the job filters.
@souryavaranasi If this is redundant,then please close the issue

[2018-05-20 11:36] #132 closed

[2018-05-20 11:37] littlestar642 commented on #135
@shreyag12 Any ETA on this?

[2018-05-20 11:38] littlestar642 commented on #118
@Karthik781 Any ETA on this?

[2018-05-20 11:38] littlestar642 commented on #115
@oreanroy Any ETA on this?

[2018-05-20 11:48] souryavaranasi commented on #138
I guess it is Redundant, but it is put on purpose, we cannot include partial here.

[2018-05-20 12:15] #138 closed

[2018-05-20 12:34] gauravsinghaec commented on #138
I don't think that the redundant code is justified but anyway I just informed, it's your call.

[2018-05-21 06:05] shreyag12 commented on #135
@littlestar642 Sorry for the delay. Will update you soon with a PR or deployment.

[2018-05-21 13:45] gauravsinghaec opened #143 "Mobile view issue not fixed by #141"
Hey team,
I just wanted to check if you have missed to test few cases on the app before closing the issue #140.
**Issue Description:** The logout on mobile is not working as mentioned earlier in #140.
Steps to replicate:
1 Signin using Google in mobile and you will be taken to dashboard page.
2 Now click on the hamburger menu icon and select logout.. Nothing happens. (applicable to all pages hence

[2018-05-21 16:09] littlestar642 commented on #143
Hey @gauravsinghaec . Thank you for informing us about these issues. Can you please open seperate issues for all that are mentioned here so that one can take up on them, individually. Thank you

[2018-05-21 16:28] seethaR03 commented on #118
Is final icon decided or still open for suggestions?

[2018-05-21 16:28] seethaR03 commented on #135
Is this still open ?

[2018-05-21 17:50] gauravsinghaec opened #144 "The hamburger menu icon is not clickable on mobile on the profile page"
**Issue Description:**  The hamburger menu icon is not clickable on mobile on the profile page. Hence can't access any navigation menu item.
Also, the overlap issue is not fixed on the profile page as mentioned earlier in #140.

[2018-05-21 17:51] gauravsinghaec commented on #143
@littlestar642 updated issue #143 and created another issue.

[2018-05-21 19:21] littlestar642 commented on #135
@seethaR03 Guess, @shreyag12 is working on this issue. Do you mind checking out #101 ?

[2018-05-21 19:23] littlestar642 commented on #101
The issue is still open. If someone wishes, can take this up!. Please inform here for the same.

[2018-05-23 04:54] shreyag12 commented on #135
@littlestar642 , @seethaR03 can work on this. I might not be able to submit this in time.

[2018-05-23 04:58] littlestar642 commented on #135
@shreyag12 Sure then. @seethaR03 Please, go ahead!

[2018-05-24 03:46] vsuguna commented on #101
Can I take this?

[2018-05-24 07:11] littlestar642 commented on #101
Sure you can, I guess this will be easy for you because you already know partials @souryavaranasi

[2018-06-19 06:37] Mpadmani opened #146 "Sidebar"
Sidebar remain open while we navigate from smaller window width to larger window width

[2018-08-09 17:03] Ckbhatia opened #147 "Missing break points for Iphone 5/SE (Resoponsive)"
I checked the site, by different views, I found that it's not responsive for iphone 5/SE users. I think there is problem within break point for iphone 5/SE. So, this issue will be solved as soon as possible,
Thanks
![screenshot 1](https://user-images.githubusercontent.com/37036881/43913962-1e6acc6e-9c24-11e8-869d-1144a6ab6a73.png)

[2018-12-23 11:14] Ckbhatia opened #149 "Improve layout of profile page"
Please check the profile layout problem. There's need of improvement.
![screenshot 290](https://user-images.githubusercontent.com/37036881/50383004-90df5e00-06d1-11e9-80cd-39558d277bdf.png)
![screenshot 293](https://user-images.githubusercontent.com/37036881/50383005-9177f480-06d1-11e9-8de7-1fb00c0283dd.png)

[2019-11-11 06:53] abhishekvirat0 commented on #149
hi, I would like towork on the issue

[2019-11-11 07:05] Ckbhatia commented on #149
Hey, this project is almost on the end. So, It does't make sense to work on this. But if you really want to work on this anyway then go for it.

[2019-11-11 13:28] abhishekvirat0 commented on #149
Thanks !
what improvements are required to be done ?